.calculator {
    width: 200px; 
    height: 230px;
    margin: 0 auto;
    padding: 50px;
    background-color: #41404092;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
button{
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
h1{
    color: white;
    text-align: center;
}
